alabaster==0.7.6
appnope==0.1.0
Babel==2.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.0
certifi==2015.4.28
cffi==1.2.1
characteristic==14.3.0
cryptography==1.0
cssselect==0.9.1
decorator==4.0.2
docutils==0.12
enum34==1.0.4
flake8==2.4.1
funcsigs==0.4
functools32==3.2.3.post2
gnureadline==6.3.3
idna==2.0
ipaddress==1.0.14
ipykernel==4.0.3
ipython==4.0.0
ipython-genutils==0.1.0
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.0.0
jupyter-core==4.0.4
llvmlite==0.7.0
lxml==3.4.4
MarkupSafe==0.23
matplotlib==1.4.3
mccabe==0.3.1
mistune==0.7.1
mock==1.3.0
nbconvert==4.0.0
nbformat==4.0.0
nose==1.3.7
notebook==4.0.4
numba==0.20.0
numpy==1.9.2
pandas==0.16.2
path.py==8.1
pbr==1.6.0
pep8==1.5.7
pexpect==3.3
pickleshare==0.5
ptyprocess==0.5
pyasn1==0.1.8
pyasn1-modules==0.0.7
pycparser==2.14
pyflakes==0.8.1
Pygments==2.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.7.0
queuelib==1.3.0
requests==2.7.0
scikit-learn==0.16.1
scipy==0.16.0
Scrapy==1.0.3
seaborn==0.6.0
service-identity==14.0.0
simplegeneric==0.8.1
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
terminado==0.5
tornado==4.2.1
traitlets==4.0.0
Twisted==15.3.0
w3lib==1.12.0
zope.interface==4.1.2
